<h3>Header in Component File</h3>

<h4>Form Test</h4>
<EditForm Model="@model">
    <InputText DisplayName="Test Text" @bind-Value="@model.Name"> Input Text Here</InputText>
    <br />
    <InputDate DisplayName="Test Date" TValue="DateTime?" @bind-Value="@model.Date"> Input Date Here</InputDate>
</EditForm>
<br />

<h4>Filler Text</h4>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
    itaque pariatur deserunt quis sunt ipsum qui dolore aut quod eligendi,
    quasi perferendis, sequi temporibus, dignissimos illum vero! Dolores
    vero nostrum aspernatur explicabo itaque.
</div>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae
    nihil cumque architecto fugiat, consectetur quam nulla perferendis at fuga
    ipsam neque placeat, vitae labore harum perspiciatis voluptas blanditiis?
    Similique deleniti possimus cupiditate animi veritatis maiores saepe atque
    id facere iusto placeat amet, pariatur optio incidunt
    fugiat. Dolor, iure excepturi.
</p>

@code
{
    EditFormDataModel model = new() { Name = "TestName", Date = DateTime.Today };

}
